:root {
  --main-bg-color: #ffffff;
  --main-text-color: #212121;
  --main-selection-color: #2196f3;
  --main-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
  background-color: var(--main-bg-color);
  font-size: 16px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

footer {
  background-color: #2f303a;
}
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

p,
.list-connection a {
  color: #757575;
}

.list-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.logo:visited,
.list-nav a:visited,
.list-projects a:visited {
  color: var(--main-text-color);
}

footer .logo:visited,
footer a.logo {
  color: var(--main-color);
}

.logo-span,
.list-nav a:hover,
.list-nav a:focus,
.list-connection a:hover,
.list-connection a:focus,
.address a:hover,
.address a:focus {
  color: var(--main-selection-color);
}

.list-groups button:hover,
.list-groups button:focus {
  color: var(--main-color);
  background: var(--main-selection-color);
}

.list-connection {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.list-groups {
  font-weight: 500;
  line-height: 1.62;
  text-align: center;
}

.list-groups button {
  font-weight: 500;
  line-height: 1.63;
  text-align: center;

  background-color: #f5f4fa;
}

.list-projects h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.list-projects p {
  line-height: 1.88;
}

.address p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-color);
  font-style: normal;
}

.address a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-socials p,
.footer-mailing p {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
}

.footer-mailing button,
.hero button {
  font-style: normal;
  font-weight: 700;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-color);
  background: #2196f3;
}

.footer-mailing input[type='email'] {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
}

.hero {
  background-color: black;
}
.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--about-h3-color);
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features p {
  font-size: 14px;
  line-height: 1.71;
}

.features img {
  background-color: #f5f4fa;
}

.about h2,
.team h2,
.customers h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  color: var(--main-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team h3 {
  font-weight: 500;
  line-height: 1.19;

  text-align: center;
}

.team p {
  line-height: 1.19;
  text-align: center;
}

.list-projects p.emerges {
  font-size: 18px;
  line-height: 1.56;

  color: var(--main-color);
}
